# ==========================================
# Operating System Files
# ==========================================
.DS_Store

# ==========================================
# IDEs and Text Editors
# ==========================================
.idea/
.vscode/

# ==========================================
# Python Virtual Environments & Caches
# ==========================================
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/